/************** css reset start *****************/
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	margin: 0;
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
}
img {
	vertical-align: middle;
}
a {
	text-decoration: none;
}
input:focus,
textarea:focus {
	outline: none;
} 
html, body {
	height: 100%;
}
* {
	outline: none;
	box-sizing: border-box;
	/*-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);*/
}
/************** css reset end *****************/

@font-face {
  	font-family: "editicon";
  	font-weight: normal;
  	font-style: normal;
  	src: url('../fonts/editicon.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.edit-icon {
  	font-family:"editicon" !important;
  	font-size:14px;
  	font-style:normal;
 	-webkit-font-smoothing: antialiased;
 	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
}
.edit-icon-link:before {content: "\e800";}
.edit-icon-unlink:before {content: "\e801";}
.edit-icon-code:before {content: "\e802";}
.edit-icon-cancel:before {content: "\e803";}
.edit-icon-terminal:before {content: "\e804";}
.edit-icon-angle-down:before {content: "\e805";}
.edit-icon-font:before {content: "\e806";}
.edit-icon-bold:before {content: "\e807";}
.edit-icon-italic:before {content: "\e808";}
.edit-icon-header:before {content: "\e809";}
.edit-icon-align-left:before {content: "\e80a";}
.edit-icon-align-center:before {content: "\e80b";}
.edit-icon-align-right:before {content: "\e80c";}
.edit-icon-list-bullet:before {content: "\e80d";}
.edit-icon-list-numbered:before {content: "\e810";}
.edit-icon-indent-left:before {content: "\e80e";}
.edit-icon-indent-right:before {content: "\e80f";}
.edit-icon-underline:before {content: "\e811";}
.edit-icon-table:before {content: "\e812";}
.edit-icon-eraser:before {content: "\e813";}
.edit-icon-text-height:before {content: "\e814";}
.edit-icon-brush:before {content: "\e815";}
.edit-icon-pencil:before {content: "\e816";}
.edit-icon-minus:before {content: "\e817";}
.edit-icon-picture:before {content: "\e818";}
.edit-icon-file-image:before {content: "\e819";}
.edit-icon-cw:before {content: "\e81a";}
.edit-icon-ccw:before {content: "\e81b";}
.edit-icon-music:before {content: "\e911";}
.edit-icon-play:before {content: "\e912";}
.edit-icon-location:before {content: "\e947";}
.edit-icon-happy:before {content: "\e9df";}
.edit-icon-sigma:before {content: "\ea67";}
.edit-icon-enlarge2:before {content: "\e98b";}
.edit-icon-shrink2:before {content: "\e98c";}
.edit-icon-newspaper:before{content: "\e904";}
.edit-icon-camera:before{content: "\e90f";}
.edit-icon-video-camera:before{content: "\e914";}
.edit-icon-file-zip:before{content: "\e92b";}
.edit-icon-stack:before{content: "\e92e";}
.edit-icon-credit-card:before{content: "\e93f";}
.edit-icon-address-book:before{content: "\e944";}
.edit-icon-envelop:before{content: "\e945";}
.edit-icon-drawer:before{content: "\e95c";}
.edit-icon-download:before{content: "\e960";}
.edit-icon-upload:before{content: "\e961";}
.edit-icon-lock:before{content: "\e98f";}
.edit-icon-unlocked:before{content: "\e990";}
.edit-icon-wrench:before{content: "\e991";}
.edit-icon-eye:before{content: "\e9ce";}
.edit-icon-eye-blocked:before{content: "\e9d1";}
.edit-icon-command:before{content: "\ea4e";}
.edit-icon-font2:before{content: "\ea5c";}
.edit-icon-libreoffice:before{content: "\eade";}
.edit-icon-quotes-left:before{content: "\e977";}
.edit-icon-strikethrough:before{content: "\ea65";}
.edit-icon-desktop:before{content: "\f108";}
.edit-icon-tablet:before{content: "\f10a";}

.edit-box {	
	width: 800px;
	height: 400px;
	margin: 50px auto;
}
.edit-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: 1px solid #cfcfcf;
}
.full {
	position: fixed;
	left: 1%; top: 1%;
	width: 98%;
	height: 98%;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
.edit-menu {	
	color: #999;
	background: #fefefe;
	border-bottom: 1px solid #cfcfcf;
}
.edit-item {	
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.edit-item>a {	
	display: inline-block;
	padding: .6rem;
}
.edit-menu-list {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	background: #fefefe;
	border: 1px solid #cfcfcf;
}
.hide {
	display: none !important;
}
.edit-child-item {
	line-height: 1.1;
}
.edit-item a {
	white-space: nowrap; 
	color: #999;
}
.edit-item a:hover {
	color: #666;
}
.edit-child-item a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 3px;
}
.edit-child-item a:not(.color-block):hover {
	background:#d6d6d6;
}
.edit-content {
	flex: 1;
	padding: 1rem;
	overflow-y: auto;
	background: #fff;
}

.modal-box {
	position: absolute;
	top: 40px; left: 50%;
	transform: translateX(-50%);
	width: 400px;
	background: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
.modal-box-2 {
	width: 600px;
}
.modal-header {
	padding-bottom: 5px;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 10px;
}
.modal-box textarea {
	width: 100%;
	height: 100px;
	resize: none;
	padding: 5px;
}
.modal-box p {
	display: flex;
	line-height: 26px;
	margin-top: 5px;
}
.modal-box input[type="text"] {
	flex: 1;
	height: 26px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 5px;
	margin-left: 10px;
}
.modal-box input[type="button"] {
	color: #333333;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
}
.modal-box input[type="button"]:hover {
	background: #efefef;
}
.modal-box input[type="checkbox"] {
	margin-top: 7px;
}
.modal-close {
	cursor: pointer;
	float: right;
}

.color-box+ul {
	width: 148px;
	padding: 2px 5px;
}
.color-box+ul li {
	display: inline-block;
	line-height: 1;
	font-size: 0;
	margin: 1px 1px 0 0;
}
.color-box+ul .color-block {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #cfcfcf;
}
.edit-icon-font2+ul a,
.edit-icon-header+ul a,
.edit-icon-text-height+ul a {
	text-align: left;
}
.edit-icon-code,
.edit-icon-eraser,
.edit-icon-align-left,
.edit-icon-table,
.edit-icon-terminal,
.edit-icon-enlarge2 {
	border-right: 1px solid #cfcfcf;
}
.edit-icon-align-left+ul .edit-icon-align-left {
	border-right: none;
}

.color-1 {background: #880000;}
.color-2 {background: #800080;}
.color-3 {background: #ff0000;}
.color-4 {background: #ff00ff;}
.color-5 {background: #000080;}
.color-6 {background: #0000ff;}
.color-7 {background: #00ffff;}
.color-8 {background: #008080;}
.color-9 {background: #008000;}
.color-10 {background: #808000;}
.color-11 {background: #00ff00;}
.color-12 {background: #ffcc00;}
.color-13 {background: #808080;}
.color-14 {background: #c0c0c0;}
.color-15 {background: #000000;}
.color-16 {background: #ffffff;}

.h1 {font-size: 2rem;}
.h2 {font-size: 1.5rem;}
.h3 {font-size: 1.17rem;}
.h4 {font-size: 1rem;}
.h5 {font-size: 0.83rem;}
.h6 {font-size: 0.67rem;}

.px1 {font-size: 10px;}
.px2 {font-size: 13px;}
.px3 {font-size: 16px;}
.px4 {font-size: 19px;}
.px5 {font-size: 22px;}
.px6 {font-size: 25px;}
.px7 {font-size: 28px;}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-button {
	width: 100%;
	height: 0;
}
::-webkit-scrollbar-track {
	background: rgba(250,250,250,1);
	border: 0px;
	/*box-shadow: 0px 0px 3px #444 inset;*/
	/*border-radius: 10px;*/
}
::-webkit-scrollbar-thumb {
	background: #ddd;
	border: 0px;
	/*border-radius: 10px;*/
}
::-webkit-scrollbar-thumb:hover {
	background: #ccc;
}